*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header{
    display: flex;
    height: 20vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: mediumpurple;
    color: white;
    font-size: 30px;
    text-decoration: underline;
}

.form{
    display: flex;
    height: 5vh;
    margin: 100px auto;
    width: 70%;
    justify-content: center;
    align-items: center;
    background-color: mediumpurple;
    border-radius: 30px;
    box-shadow: 0 0 30px 0 mediumpurple;
}

.form input{
    flex: 1;
    padding-left: 15px;
    font-size: 20px;
    background: transparent;
    outline: none;
    border: none;
    color: white;
}

::placeholder{
    color: white;
}

.form button{
    height: 5vh;
    font-size: 15px;
    padding: 5px 20px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s;
}

.form button:hover{
    background-color: purple;
    padding: 5px 25px;
    font-size: 17px;
}

.display{
    display: flex;
    height: 5vh;
    width: 70%;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    background-color: darkmagenta;
    color: white;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 darkmagenta;
}

.display h3{
    flex: 1;
    padding: 0 15px;
}

.display button{
    height: 5vh;
    width: 50px;
    border-radius: 30px;
    border: none;
    background-color: red;
    color: white;
    font-size: 15px;
    cursor: pointer;
}